<!----------Footer----------------- -->
<footer class="footer border-top py-4 bg-danger">
  <div class="container-lg">
    <div class="row ">
        <div class="col-lg-12 d-flex align-items-center justify-content-center">
           <div class="social-linked">
            <a href="https://www.linkedin.com/in/nada-assem-3030a81b5/" target="_blank" class="text-dark me-2"><i class="fab fa-linkedin"></i></a>
            <a href="https://twitter.com/Nada3ssem" target="_blank" class="text-dark me-2"><i class="fab fa-twitter"></i></a>
            <a href="" class="text-dark me-2"><i class="fab fa-instagram"></i></a>
            <a href="https://www.facebook.com/nada.3ssem?locale=ar_AR" target="_blank" class="text-dark me-2"><i class="fab fa-facebook"></i></a>
           </div>
        </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <p class="m-0 text-center text-muted">&copy; 2024 Nada Assem</p>
      </div>
    </div>
  </div>

</footer>
