<header>
  <nav class="navbar navbar-light fixed-top bg-light shadow-sm ">
    <div class="container-lg">
      <a class="navbar-brand text-danger fw-bold fs-4" href="#">N.A</a>
      <div class="d-flex">
        <p class="mx-3 text-danger fw-bold "><a class="dropdown-item" href="#home">Home</a></p>
        <p class="mx-3 text-danger fw-bold"><a class="dropdown-item" href="#about">My Skills</a></p>
        <p class="mx-3 text-danger fw-bold "><a class="dropdown-item" href="#services">Services</a></p>
        <p class="mx-3 text-danger fw-bold "><a class="dropdown-item" href="#contact">Contact</a></p>
      </div>
      </div>

  </nav>

</header>
