<section class="home py-5" id="home">
  <div class="container-lg">
    <div class="row min-vh-100 align-center align-items-center">
      <div class="col-md-6 mt-5 mt-md-0">
        <div class="home-img text-center">
          <img src="../../../assets/me2.jpg" alt="profile img" width="300px" class="rounded-circle mw-100">
        </div>
      </div>
      <div class="col-md-6 mt-5 mt-md-0 order-md-first">
        <div class="home-text">
          <p class="text-muted mb-1">Hello I'm</p>
          <h1 class="text-danger fw-bold fs-1 "> {{name}}</h1>
          <h2 class="fs-4">Backend Developer</h2>
          <p class="mt-4 text-muted">
            {{aboutme}}
          </p>
          <a href="https://github.com/Nada-Assem" target="_blank" class="btn btn-danger px-3 mt-3 text-dark fw-bold">
            <i class="fab fa-github"></i> Github</a>
          <a href="https://flowcv.com/resume/ei40uho2er" target="_blank" class="btn btn-danger px-3 mt-3 ms-5 text-dark fw-bold">
            <i class="fab "></i>
         My Resume</a>
        </div>
      </div>
    </div>
  </div>
</section>
