<section class="services bg-white py-5" id="services">
  <div class="container-lg py-4">
    <div class="row justify-content-center">
      <div class="col-lg-8">
          <div class="section-title text-center">
              <h2 class="fw-bold mb-5">
                What I Do
              </h2>
          </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="service-item shadow-sm p-4 rounded bg-white">
          <div class="icon my-3 text-danger fs-2">
              <i class='fa fa-code fs-1'></i>
          </div>
          <h3 class="fs-5 py-2 fw-bold">Web Application Development </h3>
          <p class="text-muted">
            {{s1}}
          </p>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-4">
        <div class="service-item shadow-sm p-4 rounded bg-white">
          <div class="icon my-3 text-danger fs-2">
            <i class="fa fa-database"></i>
         </div>
          <h3 class="fs-5 py-2 fw-bold">Database Design and Management</h3>
          <p class="text-muted">
            {{s2}}
          </p>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-4" >
        <div class="service-item shadow-sm p-4 rounded bg-white">
          <div class="icon my-3 text-danger fs-2">
              <i class='fa fa-code fs-1'></i>
          </div>
          <h3 class="fs-5 py-2 fw-bold">API Development </h3>
          <p class="text-muted">
            {{s3}}
          </p>
        </div>
      </div>
    </div>
  </div>

</section>

